* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --distance: 100px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/raleway-800.woff2");
    font-weight: 800;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-400.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-700.woff2");
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: azure;
    font-family: "Rubik", sans-serif;
    scrollbar-width: none;

}

body.--scroll_disable {
    overflow-y: hidden;
}

.scrollbar-wrapper {
    position: fixed;
    right: 0;
    width: 1.6vh;
    height: 100%;
    margin-right: 8px;
    background-color: rgba(155, 155, 155, .5);
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-left: 1px;
    border-right: 1px;
    border-color: rgba(242, 242, 242, 0.8);
}

.scrollbar {
    position: absolute;
    right: 0;
    width: 1.5vh;
    height: 0;
    border-radius: 2px;
    background-color: aqua;
}

.scrollbar_pin {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: gainsboro;
    cursor: pointer;
    box-shadow: inset 0px 0px 1px 1px rgba(33, 34, 49, 1);

}

.scrollbar_pin::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgba(33, 34, 49, 1);
}

.scrollbar_pin::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgb(0, 153, 255);
    box-shadow: 0px 0px 3px 2px rgb(0 255 255), 0px 0px 2px 1px rgba(255, 255, 255, 1), 0px 0px 20px 5px rgb(188, 254, 255);
    filter: brightness(2);
    transition: 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.scrollbar_pin:hover.scrollbar_pin::after {
    background: rgb(0, 255, 0);
    filter: brightness(2);
}


.link-to-up-wrapper {
    position: fixed;
    top: 90%;
    right: 5%;
    width: 50px;
    height: 50px;
    background-color: rgba(26, 26, 27, 0.8);
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px rgba(6, 145, 244, 0.8);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link-to-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 30px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: space-between;
    width: 12%;
    height: 100%;
    background-color: rgba(76, 76, 76, 0.9);
    z-index: 99;
    transform: translateX(-154px);
    opacity: 0;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header.active {
    display: flex;
    opacity: 1;
}

.header.active.show {
    transform: translateX(-10px);

}

.header a {
    text-decoration: none;
}

.navigation-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
}

.navigation-wrapper ul {
    list-style: none;
}

.navigation {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.navigation-list {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation-link {
    padding: 5px;
    width: 100%;
    display: inline-block;
    color: white;
    background-color: inherit;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation-link:hover {
    color: rgba(50, 50, 50, 1);
    background-color: white;
}


.language-change-list {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.language-switch {
    color: white;
}


.btn {
    border: none;
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.header_btn {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn_arrow {
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn_arrow.close {
    transform: rotate(180deg);
}

.header_btn:hover {
    background-color: rgba(85, 85, 85, 0.8);

}

.header_btn:active {
    background-color: rgba(110, 108, 108, 0.8);

}



/* Main */

.main {
    flex-grow: 1;
    position: relative;
    text-align: center;
    background-color: rgba(7, 7, 7, 1);
    background-image: url('../images/sky-pattern-2.jpg'), url('../images/sky-pattern.jpg');
    background-blend-mode: color-dodge;
}

h1 {
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
}

/* Main > landing*/

.section-landing {
    position: relative;
    height: 100vh;
    width: calc(100vw - 20px);
    margin-bottom: 40px;
    overflow: hidden;
}


@keyframes line_move {

    to {
        opacity: 0.7;
        stroke-dashoffset: 0;
    }
}

.line {
    stroke-width: 2;
    opacity: 0;
    animation: line_move 8s linear both;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}

.cross_line-2 {
    stroke-dashoffset: -2000;
    animation-duration: 10s;
    animation-delay: 4s;
}

.x-axis {
    animation-duration: 15s;
    animation-delay: 3s;
}

.x-axis-clone {
    opacity: 0.9;
    animation-duration: 12s;
    animation-delay: 7s;
}

.y-axis {
    animation-duration: 8s;
    animation-delay: 7s;
}

.y-axis-clone {
    opacity: 0.9;
    animation-duration: 10s;
    animation-delay: 12s;
}

@keyframes circle_animate-1 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes circle_animate-2 {
    to {
        opacity: 1;
    }
}

.circle {
    stroke-width: 2;
}

.circle-1 {
    stroke-dasharray: calc(2*3.14*660);
    stroke-dashoffset: calc(2*3.14*660);
    animation: circle_animate-1 10s 1.5s linear both;
}


.circle-3 {
    stroke-dasharray: calc(2*3.14*450);
    stroke-dashoffset: calc(2*3.14*450);
    animation: circle_animate-1 7s 1s ease-in-out both;
}

.circle-2 {
    stroke-dasharray: 2512;
    stroke-dashoffset: -2512;
    animation: circle_animate-1 5s linear both;
}

.circle-4 {
    stroke-dasharray: calc(2*3.14*280);
    stroke-dashoffset: calc(-2*3.14*280);
    animation: circle_animate-1 5s 1.5s linear both;
}

.circle-4_1 {
    opacity: 0;
    animation: circle_animate-2 2s linear both;
}

.circle-4_2 {
    stroke-width: 29;
    opacity: 0;
    animation: circle_animate-2 5s 5s linear both;
}

.circle-5,
.circle-6,
.circle-7,
.circle-8 {
    opacity: 0;
    animation: circle_animate-2 6s linear both;
}

.circle-5 {
    animation-delay: 1s;
}

.circle-6 {
    animation-delay: 1.2s;
}

.circle-8 {
    animation-duration: 2s;
    animation-delay: 3s;
}

.star {
    opacity: 0;
    animation: circle_animate-2 6s linear both;
    filter: drop-shadow(0px 0px 5px rgb(177, 177, 18)) drop-shadow(0px 0px 10px rgb(245, 245, 0));
    -webkit-filter: drop-shadow(0px 0px 5px rgb(177, 177, 18)) drop-shadow(0px 0px 10px rgb(245, 245, 0));
    -moz-filter: drop-shadow(0px 0px 5px rgb(177, 177, 18)) drop-shadow(0px 0px 10px rgb(245, 245, 0));
    -o-filter: drop-shadow(0px 0px 5px rgb(177, 177, 18)) drop-shadow(0px 0px 10px rgb(245, 245, 0));
}

/* Planets nav */

.planets-navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.planets__planets-list {
    position: relative;
    height: inherit;
    width: inherit;
    list-style: none;
    opacity: 0;
    animation: circle_animate-2 4s 5s linear both;
}

.planet-item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%) scale(0);

}

.planet-item:hover {
    animation-play-state: paused;
    cursor: pointer;
}


@keyframes item-1_move {
    0% {
        transform: translate(-50%, -50%) translateY(0px)
    }

    25% {
        transform: translate(-50%, -50%) translateY(-10px)
    }

    75% {
        transform: translate(-50%, -50%) translateY(0px)
    }

    100% {
        transform: translate(-50%, -50%) translateY(0px)
    }
}

@keyframes item-2_move {


    from {
        transform: translate(-50%, -50%) rotate(0) translateX(200px) rotate(360deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg) translateX(200px) rotate(0);

    }

}

@keyframes item-2_after_move {

    from {
        transform: translate(-50%, -50%) rotate(0deg) translateX(35px) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg) translateX(35px) rotate(-360deg);
    }

}

@keyframes item-3_move {

    from {
        transform: translate(-50%, -50%) rotate(0deg) translateY(-120px) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg) translateY(-120px) rotate(-360deg);
    }

}

@keyframes item-4_move {

    from {
        transform: translate(-50%, -50%) rotate(0deg) translateX(-320px) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg) translateX(-320px) rotate(-360deg);
    }

}

@keyframes planet_show_up_for_item2 {

    0% {
        transform: translate(-50%, -50%) translateX(200px) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) translateX(200px) scale(1);
    }
}

@keyframes planet_show_up_for_item3 {

    0% {
        transform: translate(-50%, -50%) translateY(-120px) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) translateY(-120px) scale(1);
    }
}

@keyframes planet_show_up_for_item4 {

    0% {
        transform: translate(-50%, -50%) translateX(-320px) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) translateX(-320px) scale(1);
    }
}



.item-1 {

    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgba(26, 26, 27, 1);
    background-image: url('../images/assets/3700_5_03.png');
    animation: item-1_move 10s linear infinite;
    overflow: hidden;
}




.item-2 {
    animation: planet_show_up_for_item2 1.5s 6.5s cubic-bezier(0.075, 0.82, 0.165, 1) both, item-2_move 25s 8s linear infinite;
    background-image: url('../images/earth.png');

}

.item-2::before {
    content: "";
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border: 2px solid coral;
    border-radius: 50%;
}

.item-2::after {
    content: "";
    position: absolute;
    height: 25%;
    width: 25%;
    top: 50%;
    left: 50%;
    background-color: rgb(185, 185, 185);
    border-radius: 50%;
    animation: item-2_after_move 8s linear infinite reverse;

}


.item-3 {
    animation: planet_show_up_for_item3 1.5s 7.5s cubic-bezier(0.075, 0.82, 0.165, 1) both, item-3_move 150s 9s linear infinite;
    background-image: url('../images/mars.png');

}

.item-3::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border: 2px solid coral;
    border-radius: 50%;
}

.item-4 {
    animation: planet_show_up_for_item4 1.5s 7s cubic-bezier(0.075, 0.82, 0.165, 1) both, item-4_move 130s 8.5s linear infinite;
    background-image: url('../images/moon.png');

}

.item-4::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border: 2px solid coral;
    border-radius: 50%;
}


.planet-link {
    position: absolute;
    width: 100px;
    top: 0;
    left: 110%;
    color: white;
    text-decoration: none;
}

.planet-item:first-child .planet-link {
    width: inherit;
    left: 0;
}

.planet-1__link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 36px;
}



.planets__orbits {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.asteroid {
    position: absolute;
    top: -128px;
    left: -128px;
    width: 128px;
    height: 128px;
    background-image: url("../images/assets/asteroid.png");
    background-position: left 0px;
    /* transform: scale(.2); */
    animation: asteroid-anim 1s steps(32) infinite;
    /* move 10s linear infinite; */
}

@keyframes asteroid-anim {
    100% {
        background-position: -4096px 0px;
    }
}




.sparkles {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 64px;
    height: 64px;
    background-image: url("../images/assets/sparkle.png");
    background-position: left 0px;
    transform: scale(.3);
    animation: sparkles-anim 1.5s steps(9) infinite;
}

@keyframes sparkles-anim {
    100% {
        background-position: 576px 0px;
        transform: scale(.2) rotateZ(360deg);
    }
}

.scroll_down {
    position: absolute;
    display: flex;
    top: 90%;
    right: 0;
    z-index: 99;
    opacity: 0;
    transition: .5s ease-in-out;
}

.scroll_mouse {
    width: 25px;
    height: 45px;
    border: 2px solid rgba(70, 113, 130, 1);
    border-radius: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 20px 2px rgb(24 174 149);
}

.mouse_wheel {
    position: relative;
    width: 50%;
    height: 50%;
    border: 1px solid rgba(155, 155, 155, .5);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgb(105 217 199);
}

.mouse_wheel::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    height: 2px;
    width: 2px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: whitesmoke;
    transform: translate(-50%, -50%);
    animation: scroll_move 1s ease-in-out reverse infinite;

}


@keyframes scroll_move {
    from {
        top: 90%;
        opacity: 0;
    }

    to {
        top: 10%;
        opacity: 1;
    }

}

.scroll_text {
    transform: rotate(-90deg);
    cursor: default;
}


.paralax-earth {
    background: url(../images/moon-2285628_1280.jpg) fixed;
}

.about-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 30px auto;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    color: rgba(255, 116, 0, 1);
}

.planet-1__title-about {
    grid-column: 1/3;
}

.landing-introduction {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;

}

.landing-signature__outer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150vh;
    height: 150vh;
    border-radius: 50%;
    border: 2px solid darkgoldenrod;
    z-index: 1;
}

.landing-signature__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signature {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 0;
    transform-origin: 0 100%;
    padding-bottom: 470px;
    font-size: 3em;
    color: white;
    text-transform: uppercase;

}

/* About me */

.about-wrapper {
    min-height: 100vh;
    padding: 10px;
    border-bottom: solid 2px white;
}

.my-photo {
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 2/3;
}

.about-describe {
    padding: 0 10px;
    line-height: 24px;
}

.about-describe p:not(:first-child) {
    margin-top: 12px;
}

.about-describe p {
    padding: 10px 5px;
    text-align: justify;
    color: whitesmoke;
    background-color: rgba(100, 100, 102, 0.8);
    line-height: 24px;
    border-left: 2px solid white;


}

.about-describe p:nth-of-type(2n) {
    border-left: none;
    border-right: 2px solid white;
}

.about-ukranian {
    text-transform: uppercase;
}


.section-technology {
    min-height: 50vh;
    margin-top: 10px;
    background-color: rgba(242, 242, 242, 0.8);

}



.gallery-wrapper {
    position: relative;
}

.galerry-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    list-style: none;


}


.gallery-picture-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    perspective: 1000px;
    transform-style: preserve-3d;
}




.picture-link {
    position: relative;
    display: block;
    width: 65%;
    height: auto;
    overflow: hidden;
    transition: transform 0.2s;
}

.gallery-picture-item:nth-of-type(2n) .picture-link {
    order: 2;
}


.card-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;

}

.picture-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1%;
    width: 98%;
    height: 98%;
    transform: translateY(-50%);
    background-color: rgba(155, 155, 155, .5);
    border-radius: 5px;

}

.picture-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    width: 20%;
    height: 98%;
    transform: translate(-50%, -50%) skewX(15deg);
    background: linear-gradient(90deg, rgba(209, 209, 214, 0) 0%, rgba(242, 242, 242, 0.5) 37%, rgba(255, 255, 255, .8) 51%, rgba(246, 246, 246, 0.5) 65%, rgba(170, 170, 170, 0.0) 100%);
    background-repeat: no-repeat;
    transition: left .8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.picture-link:hover.picture-link:after {
    left: 150%;
}

.paralax-wrapper {
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax-mars {
    background: url(../images/onTheMars.jpg) fixed;
}

.footer {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    background-color: transparent;

}

.footer-wrapper {
    height: 100%;
    width: 100%;
    background: url(../images/onTheMoon.jpg) no-repeat;
    background-position: bottom 25% left;
    background-size: cover;
    align-self: flex-end;

}