* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --distance: 100px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* Main */

.main {
    display: grid;
    grid-template-rows: 0 100vh 100vh 100vh 100vh;
    text-align: center;
    background-color: rgb(7, 7, 7);
}

/* Main > planets */

@keyframes line_move {

    to {
        stroke-dasharray: 1100 10000;
        stroke-width: 1;
        opacity: 1;
    }
}

.line {
    /* stroke: rgba(214, 153, 22, 0.575); */
    stroke-dashoffset: 0 0;
    stroke-width: 0;
    opacity: 0;
    animation: line_move 5s ease-in-out infinite;
    stroke-dasharray: 0 10000;
}

.cross_line-2 {
    animation-delay: 4s;
}

.x-axis {
    animation-duration: 10s;
}

@keyframes circle_animate-1 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes circle_animate-2 {
    to {
        opacity: 1;
    }
}

.circle-3 {

    stroke-dasharray: calc(2*3.14*450);
    stroke-dashoffset: calc(2*3.14*450);
    animation: circle_animate-1 5s 1s ease-in-out both;
}

.circle-2 {
    stroke-dasharray: 2512;
    stroke-dashoffset: -2512;
    animation: circle_animate-1 5s linear both;
}

.circle-5,
.circle-6,
.circle-7 {
    opacity: 0;
    animation: circle_animate-2 5s linear both;
}

.circle-5 {
    animation-delay: 1s;
}

.circle-6 {
    animation-delay: 1.2s;
}

.circle-3 {
    animation-delay: .9s;
}

.planets-navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color: green;
}

.planets__planets-list {
    list-style: none;
}

.planet-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: rgb(185, 185, 185);
    border-radius: 50%;
}

.planet-item:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes planet_move {

    from {
        transform: rotate(0deg) translateX(var(--distance)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(var(--distance)) rotate(-360deg);
    }

}


.item-1 {
    width: 10%;
    height: 20%;
    background-color: rgba(26, 26, 27, 1);
}

.planet-item__planet-1 {
    height: 100%;
    font-size: 50px;
}



.item-2 {
    animation: planet_move 145s linear infinite;
}

.item-3 {
    transform-origin: -100px -100px;
    animation: planet_move 10s linear infinite;
}

.planet-item-link {
    animation: text_move 10s linear infinite;
}

.item-3::before {
    content: "";
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border: 2px solid coral;
    border-radius: 50%;
}



.planet-3__link {
    position: absolute;
    top: 0;
    left: 100%;
    animation: text_move 10s linear infinite;


}

.planets__orbits {
    width: 100%;
    height: 100%;
}